.banner-container {
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url("https://www.aamc.org/sites/default/files/styles/scale_and_crop_1200_x_666/public/Public%20Opinion%20Research%201200x666.jpg?itok=Z9g0DOPe");
}
.info {
  display: flex;
  height: 100%;
  align-items: center;
}
